#header {
    display: flex;
    justify-content: space-between;
    height: 65px;
}

#userLogout {
    display: flex;
    gap: 10px;
}

button {
    background-color: rgb(223, 100, 0);
    color: white;
    padding: 0px 15px;
    border: none;
    border-radius: 1rem;
    height: 40px;
    margin-top: 12%;
    font-size: 16px;
}