<div id="no-absences" *ngIf="!absences.length">No absences!</div>

<ng-container *ngIf="absences.length">
  <div *ngFor="let absence of absences">
    <span>{{absence}}</span>
    <button *ngIf="userRole === 'Teacher'" class="action-button" (click)="deleteAbsence(absence)"><span class="material-icons">delete</span></button>

  </div>

</ng-container>

<form *ngIf="createAbsenceMode" (ngSubmit)="createAbsenceForm(createAbsenceFrom)" #createAbsenceFrom="ngForm">
  <div>
    <input name="absence" required ngModel placeholder="dd/mm/yyyy">
  </div>
  <div>
    <button class="action-button" type="submit" [disabled]="!createAbsenceFrom.valid"><span class="material-icons">check</span></button>
    <button class="action-button" (click)="createAbsenceMode = false"><span class="material-icons">close</span></button>
  </div>
</form>

<button *ngIf="userRole === 'Teacher'" class="action-button add-button" (click)="createAbsenceMode = true"><span class="material-icons">add</span> add absence</button>
