<div>
  <h3>Parent</h3>
  <ng-container *ngIf="parent">
    <div>{{ parent.name }}</div>
    <div>{{ parent.address }}</div>
    <div>{{ parent.contact }}</div>
    <div *ngIf="userRole === 'Admin' || userRole === 'Principle'">
      <button (click)="editParent()" class="action-button"><span class="material-icons">edit</span></button>
    </div>
  </ng-container>
</div>

<button  *ngIf="!parent && !createParentMode" (click)="createParentMode = true">Create parent:</button>

<div *ngIf="!parent && (userRole === 'Admin' || userRole === 'Principle')">
  <div *ngIf="error">{{ error }}</div>
  <form *ngIf="createParentMode" (ngSubmit)="createParent(createParentFrom)" #createParentFrom="ngForm">
    <label>Name: </label>
    <input ngModel name="parentName" required>
    <br>
    <label>Address: </label>
    <input ngModel name="parentAddress" required>
    <br>
    <label>Contact: </label>
    <input ngModel name="parentContact" required>
    <br>
    <label>Username: </label>
    <input ngModel name="parentUsername" required>
    <br>
    <label>Password: </label>
    <input ngModel name="parentPassword" required>
    <br>
    <button type="submit" [disabled]="!createParentFrom.valid">Create</button>
    <button class="action-button" (click)="createParentMode = false"><span class="material-icons">close</span></button>

  </form>

  <div *ngIf="!createParentMode">
    <select #selectParentMenu name="parent" id="selectParent">
      <option value="null" selected>Select parent</option>
      <option *ngFor="let p of parents" [value]="p.id">{{p.name}}</option>
    </select>
    <button (click)="selectParent()">Apply</button>
  </div>
</div>

<div *ngIf="parent && editParentMode">
  <div id="edit-parent">
    <form (ngSubmit)="editParentForm(editParentFrom)" #editParentFrom="ngForm">
      <label>Name: </label>
      <input name="parentName" required [ngModel]="currentEditParent.name">
      <br>
      <label>Address: </label>
      <input ngModel name="parentAddress" required  [ngModel]="currentEditParent.address">
      <br>
      <label>Contact: </label>
      <input ngModel name="parentContact" required  [ngModel]="currentEditParent.contact">

      <button class="action-button" type="submit" [disabled]="!editParentFrom.valid"><span class="material-icons">check</span></button>
      <button class="action-button" (click)="editParentMode = false"><span class="material-icons">close</span></button>
    </form>
    <div *ngIf="error">{{ error }}</div>
  </div>
</div>