<h1>Teachers</h1>
<div id="teacher-list">
  <div id="table-header">
    <div>Id</div>
    <div>Name</div>
    <div>Address</div>
    <div>Contact</div>
    <div>Subject</div>
    <div *ngIf="userRole === 'Admin' || userRole === 'Principle'">Actions</div>
</div>
    <div id="teacher-wrapper" *ngFor="let teacher of teachers">
      <div>
        <div>{{ teacher.id }}</div>
        <div>{{ teacher.name }}</div>
        <div>{{ teacher.address }}</div>
        <div>{{ teacher.contact }}</div>
        <div>{{ subjects[teacher.subject] }}</div>
        <div *ngIf="userRole === 'Admin' || userRole === 'Principle'">
          <button (click)="edit(teacher)" class="action-button"><span class="material-icons">edit</span></button>
          <button (click)="delete(teacher.id)" class="action-button delete-button"><span class="material-icons">delete</span></button>
        </div>
      </div>
    </div>

    <div *ngIf="editTeacherMode" id="edit-teacher">
      <form (ngSubmit)="editTeacherForm(editTeacherFrom, currentEditTeacher.id)" #editTeacherFrom="ngForm">
        <div>
          <label>Name: </label>
          <input name="teacherName" required [ngModel]="currentEditTeacher.name">
        </div>
        <div>
          <label>Address: </label>
          <input ngModel name="teacherAddress" required  [ngModel]="currentEditTeacher.address">
        </div>
        <div>
          <label>Contact: </label>
          <input ngModel name="teacherContact" required  [ngModel]="currentEditTeacher.contact">
        </div>
       <div>
        <label for="subjects">Subject: </label>
        <select required [ngModel]="currentTeacherSubject" name="teacherSubject" id="subjects">
          <option *ngFor="let subject of subjects" [value]="subject" >{{subject}}</option>
        </select>
       </div>
       <div>
        <button class="action-button text-button" type="submit" [disabled]="!editTeacherFrom.valid">Save</button>
        <button class="action-button text-button cancel-button" (click)="editTeacherMode = false">Cancel</button>
       </div>
      </form>
      <div *ngIf="error">{{ error }}</div>
  </div>
</div>

<button *ngIf="userRole === 'Admin' || userRole === 'Principle'" class="action-button add-button" (click)="createTeacherMode = true"><span class="material-icons">add</span> add teacher</button>
<div *ngIf="createTeacherMode" id="create-teacher">
  <form (ngSubmit)="createTeacherForm(createTeacherFrom)" #createTeacherFrom="ngForm">
    <div>
      <label>Name: </label>
      <input ngModel name="teacherName" required>
    </div>
    <div>
      <label>Address: </label>
      <input ngModel name="teacherAddress" required>
    </div>
    <div>
      <label>Contact: </label>
      <input ngModel name="teacherContact" required>
    </div>
    <div>
      <label for="subjects">Subject: </label>
      <select ngModel name="teacherSubject" required  id="subjects">
        <option *ngFor="let subject of subjects" [value]="subject">{{subject}}</option>
      </select>
    </div>
    <div>
      <label>Username: </label>
      <input ngModel name="teacherUsername" required>
    </div>
    <div>
      <label>Password: </label>
      <input ngModel name="teacherPassword" required>
    </div>
  
  <div>
    <button class="action-button text-button" type="submit" [disabled]="!createTeacherFrom.valid">Create</button>
    <button class="action-button text-button cancel-button" (click)="cancelTeacherCreation()">Cancel</button>
  </div>
  </form>
  <div *ngIf="error">{{ error }}</div>
</div>

