<div *ngIf="teacher">
  <h1>{{ teacher.name }}</h1>
  <div class="info">
    <div>Contact: {{ teacher.contact }}</div>
    <div>Subject: {{ subjects[teacher.subject] }}</div>
  </div>
</div>

<br>

<span id="school-page-link">School page: <a [routerLink]="'/school/' + teacher.school.name">{{teacher.school.name}}</a></span>

<h2>Schedule</h2>
<div id="schedule-list">
  <div id="table-header">
    <div>Id</div>
    <div>Grade</div>
    <div>Date</div>
</div>
</div>
<div id="schedule-wrapper" *ngFor="let schedule of schedules">
  <div>
    <div>{{ schedule.id }}</div>
    <div>{{ grades[schedule.grade] }}</div>
    <div>{{ dates[schedule.date] }}</div>
  </div>
</div>

<ng-container *ngFor="let grade of studentGrades | keyvalue">
  <h2>Students from {{grades[grade.key]}}</h2>
  <details *ngFor="let student of grade.value">
    <summary style="display: inline-block">
      <span>Id: {{ student.id }}</span>
      <span>Name: {{ student.name }}</span>
      <span>Contact: {{ student.contact }}</span>
    </summary>
    <div>
      <h3>Evaluation:</h3>
      <app-evaluation [student]="student" [subject]="teacher.subject"></app-evaluation>
      <br>
      <h3>Absences:</h3>
      <app-absence [student]="student" [subject]="teacher.subject"></app-absence>
    </div>
  </details>
</ng-container>
