<div *ngIf="school">
  <h3>{{ school.name }}</h3>
  <div>{{ school.address }}</div>
  <div>{{ school.contact }}</div>
  <div *ngIf="principle">
    <h3>{{ principle.name }}</h3>
    <div>{{ principle.address }}</div>
    <div>{{ principle.contact }}</div>
    <div>
      <button (click)="editPrinciple(principle)" class="action-button"><span class="material-icons">edit</span></button>
      <button (click)="deletePrinciple(school.id)" class="action-button"><span class="material-icons">delete</span></button>
    </div>
  </div>

  <div *ngIf="editPrincipleMode" id="edit-principle">
    <form (ngSubmit)="editPrincipleForm(editPrincipleFrom)" #editPrincipleFrom="ngForm">
      <label>Name: </label>
      <input name="principleName" required [ngModel]="currentEditPrinciple.name">
      <br>
      <label>Address: </label>
      <input ngModel name="principleAddress" required  [ngModel]="currentEditPrinciple.address">
      <br>
      <label>Contact: </label>
      <input ngModel name="principleContact" required  [ngModel]="currentEditPrinciple.contact">

      <button class="action-button" type="submit" [disabled]="!editPrincipleFrom.valid"><span class="material-icons">check</span></button>
      <button class="action-button" (click)="editPrincipleMode = false"><span class="material-icons">close</span></button>
    </form>
    <div *ngIf="error">{{ error }}</div>
</div>

  <div *ngIf="!principle">
    <div *ngIf="error">{{ error }}</div>
    <form (ngSubmit)="createPrinciple(createPrincipleFrom)" #createPrincipleFrom="ngForm">
      <label>Name: </label>
      <input ngModel name="principleName" required>
      <br>
      <label>Address: </label>
      <input ngModel name="principleAddress" required>
      <br>
      <label>Contact: </label>
      <input ngModel name="principleContact" required>
      <br>
      <label>Username: </label>
      <input ngModel name="principleUsername" required>
      <br>
      <label>Password: </label>
      <input ngModel name="principlePassword" required>
      <br>
      <button type="submit" [disabled]="!createPrincipleFrom.valid">Create</button>
    </form>
  </div>

 <app-teacher [schoolId]="school.id"></app-teacher>
 <app-schedule [schoolId]="school.id"></app-schedule>
 <app-student [schoolId]="school.id"></app-student>
