<app-header></app-header>

<div *ngIf="school">
  <div class="info">
    <h1>{{ school.name }}</h1>
    <div>Address: {{ school.address }}</div>
    <div>Contact: {{ school.contact }}</div>

    <div *ngIf="principle">
      <h2>{{ principle.name }}</h2>
      <div>Address: {{ principle.address }}</div>
      <div>Contact: {{ principle.contact }}</div>
      <div>
        <button *ngIf="userRole === 'Admin' || userRole === 'Principle'" (click)="editPrinciple(principle)" class="action-button"><span class="material-icons">edit</span></button>
        <button *ngIf="userRole === 'Admin'" (click)="deletePrinciple(school.id)" class="action-button delete-button"><span class="material-icons">delete</span></button>
      </div>
    </div>
  </div>

 

  <div *ngIf="editPrincipleMode" id="edit-principle">
    <form (ngSubmit)="editPrincipleForm(editPrincipleFrom)" #editPrincipleFrom="ngForm">
      <div>
        <label>Name: </label>
        <input name="principleName" required [ngModel]="currentEditPrinciple.name">
      </div>
      <div>
        <label>Address: </label>
        <input ngModel name="principleAddress" required  [ngModel]="currentEditPrinciple.address">
      </div>
      <div>
        <label>Contact: </label>
        <input ngModel name="principleContact" required  [ngModel]="currentEditPrinciple.contact">  
      </div>
      <div>
        <button class="action-button" type="submit" [disabled]="!editPrincipleFrom.valid">Save</button>
        <button class="action-button" (click)="editPrincipleMode = false">Cancel</button>
      </div>
     
    </form>
    <div *ngIf="error">{{ error }}</div>
  </div>

  <div *ngIf="userRole === 'Admin' && !principle">
    <div *ngIf="error">{{ error }}</div>
    <form (ngSubmit)="createPrinciple(createPrincipleFrom)" #createPrincipleFrom="ngForm">
      <div>
        <label>Name: </label>
        <input ngModel name="principleName" required>
      </div>
      <div>
        <label>Address: </label>
        <input ngModel name="principleAddress" required>
      </div>
     <div>
      <label>Contact: </label>
      <input ngModel name="principleContact" required>
     </div>
     <div>
      <label>Username: </label>
      <input ngModel name="principleUsername" required>
     </div>
      <div>
        <label>Password: </label>
        <input ngModel name="principlePassword" required>
      </div>
      
      <button type="submit" [disabled]="!createPrincipleFrom.valid">Create</button>
    </form>
  </div>

 <app-teacher [schoolId]="school.id"></app-teacher>
 <app-schedule [schoolId]="school.id"></app-schedule>
 <app-student *ngIf="userRole === 'Admin' || userRole === 'Principle' || userRole === 'Teacher'" [schoolId]="school.id"></app-student>
</div>
