<div *ngIf="student">
    <div class="info">
      <h1>{{ student.name }}</h1>
      <div>Address: {{ student.address }}</div>
      <div>Contact: {{ student.contact }}</div>
      <div>Grade: {{ grades[student.grade] }}</div>
      <app-parent *ngIf="userRole !== 'Parent'" [student]="student"></app-parent>
    </div>

    <span *ngIf="userRole !== 'Parent'" id="school-page-link">School page:<a [routerLink]="'/school/' + student.school.name">{{student.school.name}}</a></span>

    <ng-container *ngIf="schedules">
      <h2>Schedule</h2>
      <div id="schedule-list">
        <div id="table-header">
          <div>Id</div>
          <div>Subject</div>
          <div>Date</div>
      </div>
      </div>
      <div id="schedule-wrapper" *ngFor="let schedule of schedules">
        <div>
          <div>{{ schedule.id }}</div>
          <div>{{ schedule.teacher.name }} - {{ getSubject(schedule.teacher) }}</div>
          <div>{{ dates[schedule.date] }}</div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="subjects && schedules">
      <h2>Evaluation and Absences</h2>
      <div>
        <div id="table-header">
          <div>Subject</div>
          <div>Evaluation</div>
          <div>Absences</div>
      </div>
      </div>
      <div *ngFor="let subject of subjects" id="evaluation-wrapper">
        <div *ngIf="checkValidSubject(subject)">
          <div>{{ subject }}</div>
          <div>
            <app-evaluation [student]="student" [subject]="schoolSubject(subject)"></app-evaluation>
          </div>
          <div>
            <app-absence [student]="student" [subject]="schoolSubject(subject)"></app-absence>
          </div>
        </div>
      </div>
    </ng-container>
</div>
